<%- include('./partials/links.ejs') %>
<%- include('./partials/navbar.ejs') %>

    <h1>CONTACTTT MEEE FORM</h1>
    <form action="/" id="contactform" class="form" method="POST">
      <input class="name child" type="text" placeholder="Name" maxlength="20"  required/>
      <input class="surname child" type="text" placeholder="Surname" maxlength="20"  required/>
      <input class="email child" type="email" placeholder="Email" required/>
      <textarea class="message child" type="text" placeholder="message" maxlength="1000" form="contactform" rows="10" required></textarea>>
      <button type="submit child">Send</button>
    </form>

<%- include('./partials/footer.ejs') %>



<!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <!-- <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
      integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
      crossorigin="anonymous"
    ></script> -->

    <%- include('./partials/scripts.ejs') %>